
/* ––––––––––––––––––––––––––––––––––––––––––––––> global definitions <–––––––––––––––––––––––––––––––––––––––––––––– */

body
{
    font-family: 'Roboto', sans-serif;

    color: #434455;
    background-color: #fff;
}

ul
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top: 0;
    margin-bottom: 0;
}

.container
{
    max-width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

img
{
    display: block;

    max-width: 100%;
    height: auto;
}

a
{
    text-decoration: none;
}

button
{
    cursor: pointer;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
}


/* ––––––––––––––––––––––––––––––––––––––––––––––> HEADER <–––––––––––––––––––––––––––––––––––––––––––––– */

.site-header
{
    /*    padding-top: 24px;*/
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, .08),
    0 1px 1px 0 rgba(46, 47, 66, .16), 0 2px 1px 0 rgba(46, 47, 66, .08);
    /*   
    display: flex;
    align-items: center;
*/
}

.header-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 72px;
    padding-right: 16px;
    padding-left: 16px;
}

.header-navigation
{
    margin-left: 76px;
    /*    
    display: flex;
    align-items: center;
*/
}

.menu-toggle
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;

    display: none;

    width: 24px;
    height: 24px;
    /*    margin-left: auto;*/

    color: #333;
    border: none;
    background: none;
}

.header-menu-list
{
    display: flex;
    align-items: center;

    gap: 40px;
}

.contacts
{
    margin-left: auto;
}

.contact-list
{
    display: flex;
    align-items: center;
    flex-direction: row;

    transition: all 1s ease;

    gap: 40px;
}

.header-logo
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;

    letter-spacing: .03em;
    text-transform: uppercase;

    color: #4d5ae5;
}

.logo-part
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16667;

    letter-spacing: .03em;
    text-transform: uppercase;

    color: #2e2f42;
}

.header-menu-link
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    display: block;

    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(.4, 0, .2, 1);
    letter-spacing: .02em;

    color: #2e2f42;
}

.header-menu-link
{
    position: relative;
}

.header-menu-link.active::after
{
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;

    content: '';

    border-radius: 2px;
    background-color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.active
{
    color: #404bbf;
}

.contacts
{
    font-style: normal;
}

.contact-link
{
    font-size: 16px;
    line-height: 1.5;

    transition: color 250ms cubic-bezier(.4, 0, .2, 1);
    letter-spacing: .02em;

    color: #434455;
}

.contact-link:hover,
.contact-link:focus
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    letter-spacing: .02em;

    color: #404bbf;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    .header-navigation,
    .contacts
    {
        display: none;
    }

    .menu-toggle
    {
        display: block;
    }

    .header-container
    {
        height: 56px;
    }
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    .menu-toggle
    {
        display: none;
    }

    .header-navigation
    {
        margin-right: auto;
        margin-left: auto;
    }

    .contact-list
    {
        flex-direction: column;

        gap: 12px;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> HERO <–––––––––––––––––––––––––––––––––––––––––––––– */

.hero
{
    display: flex;
    flex-direction: column;

    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;

    background-color: #2e2f42;
    background-image: linear-gradient(
    rgba(46, 47, 66, .7),
    rgba(46, 47, 66, .7)
    ),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.hero-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 48px;
}

.hero-title
{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;

    display: block;

    max-width: 496px;
    /*    margin: 0 auto 48px;*/

    text-align: center;
    letter-spacing: .02em;

    color: #fff;
}

.hero-btn
{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    display: block;

    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);
    letter-spacing: .04em;

    color: #fff;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

.hero-btn:hover,
.hero-btn:focus
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: .04em;

    color: #fff;
    background-color: #404bbf;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    .hero
    {
        padding-top: 72px;
        padding-bottom: 72px;

        background-image: linear-gradient(
        rgba(46, 47, 66, .7),
        rgba(46, 47, 66, .7)
        ),
        url(../images/people-office2-NO.jpg);
    }

    .hero-container
    {
        gap: 72px;
    }

    .hero-title
    {
        font-size: 42px;
        line-height: 1.2;
    }
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    .hero
    {
        padding-top: 112px;
        padding-bottom: 112px;

        background-image: linear-gradient(
        rgba(46, 47, 66, .7),
        rgba(46, 47, 66, .7)
        ),
        url(../images/people-office2-NO.jpg);
    }

    .hero-container
    {
        gap: 36px;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> (sections) <–––––––––––––––––––––––––––––––––––––––––––––– */

.content-section
{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*    column-gap: 24px;*/
    /*    row-gap: 48px;*/

    gap: 48px 24px;
}

.section-title
{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /*    margin-top: 120px;*/

    margin-bottom: 72px;

    text-align: center;
    letter-spacing: .02em;
    text-transform: capitalize;

    color: #2e2f42;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    .content-section
    {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    .content-section
    {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> FEATURES <–––––––––––––––––––––––––––––––––––––––––––––– */

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}



.features-item
{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-icons
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;
    margin-bottom: 8px;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
}

.features-subtitle
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 8px;

    letter-spacing: .02em;

    color: #2e2f42;
}

.features-text
{
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: .02em;

    color: #434455;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    .features
    {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .features-icons
    {
        display: none;
    }

    .features-list
    {
        display: flex;
        flex-direction: column;

        gap: 72px;
    }

    .features-item
    {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .features-subtitle
    {
        font-size: 28px;

        text-align: center;
    }
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    .features
    {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .features-icons
    {
        display: none;
    }

    .features-list
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: 72px 24px;
    }

    .features-item
    {
        flex-basis: calc((100% - 24px) / 2);
    }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––> TEAM <–––––––––––––––––––––––––––––––––––––––––––––– */

.content-section.team
{
    background: #f4f4fd;
}

.team-item
{
    /*    flex-basis: calc((100% - 3 * 24px) / 4);*/
    min-width: 264px;

    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, .08),
    0 1px 1px 0 rgba(46, 47, 66, .16), 0 1px 6px 0 rgba(46, 47, 66, .08);
}

.team-card-content
{
    padding: 32px 0;
}

.team-subtitle
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 8px;

    text-align: center;
    letter-spacing: .02em;

    color: #2e2f42;
}
.team-text
{
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 8px;

    text-align: center;
    letter-spacing: .02em;

    color: #434455;
}

.social-links-wrap
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    gap: 24px;
}
.social-link
{
    width: 40px;
    height: 40px;
}

.social-link .link
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

    border-radius: 50%;
    background: #4d5ae5;
}

.social-link .link:hover,
.social-link .link:focus
{
    background-color: #404bbf;
}

.team-icon-soc
{
    display: flex;
    align-items: center;
    justify-content: center;

    fill: #f4f4fd;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    /* Стилі для мобільних пристроїв */
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    /* Стилі для планшетів */
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> PORTFOLIO <–––––––––––––––––––––––––––––––––––––––––––––– */


.portfolio-item
{
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(.4, 0, .2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus
{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, .08),
    0 1px 1px 0 rgba(46, 47, 66, .16), 0 1px 6px 0 rgba(46, 47, 66, .08);
}
.portfolio-card-content
{
    padding: 32px 16px;

    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle
{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    margin-bottom: 8px;

    letter-spacing: .02em;

    color: #2e2f42;
}

.portfolio-text
{
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: .02em;

    color: #434455;
}

.item-overlay-wrapper
{
    position: relative;

    overflow: hidden;
}

.item-overlay
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
    transform: translateY(100%);
    letter-spacing: .02em;

    color: #f4f4fd;
    background: #4d5ae5;
}

.portfolio-item:hover .item-overlay,
.portfolio-item:focus .item-overlay
{
    transform: translateY(0%);
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    /* Стилі для мобільних пристроїв */
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    /* Стилі для планшетів */
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> FOOTER <–––––––––––––––––––––––––––––––––––––––––––––– */

.page-footer
{
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #2e2f42;
}

.page-footer .container
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;

    gap: 72px 24px;
}

.footer-container-logo
{
    /*    margin-right: auto;*/
}

.footer-container
{
    margin-right: auto;
}

.footer-logo
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;

    display: inline-block;

    margin-bottom: 16px;

    letter-spacing: .03em;
    text-transform: uppercase;

    color: #4d5ae5;
}
.footer-logo-part
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;

    letter-spacing: .03em;
    text-transform: uppercase;

    color: #f4f4fd;
}
.footer-text
{
    font-size: 16px;
    line-height: 1.5;

    max-width: 264px;

    letter-spacing: .02em;

    color: #f4f4fd;
}

.footer-section-heading
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-bottom: 16px;

    letter-spacing: .02em;

    color: #fff;
}

.footer-social-links
{
    display: flex;

    gap: 16px;
}
.footer-social-link
{
    width: 40px;
    height: 40px;
}
.footer-social-link .link
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

    border-radius: 50%;
    background-color: #4d5ae5;
}

.footer-social-link .icon-soc
{
    fill: #f4f4fd;
}

.footer-social-link .link:hover,
.footer-social-link .link:focus
{
    background-color: #31d0aa;
}

.footer-subscribe
{
    display: block;

    /*    margin-left: auto;*/
}

.footer-subscribe-heading
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-bottom: 16px;

    letter-spacing: .02em;

    color: #fff;
}

.footer-subscribe-text
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    width: 75px;
    height: 24px;
    margin-bottom: 16px;

    letter-spacing: .02em;

    color: #fff;
}

.footer-subscribe-form
{
    display: flex;

    gap: 24px;
}

.footer-user-mail
{
    font-size: 12px;
    line-height: 2;

    width: 264px;
    height: 40px;
    padding-left: 16px;

    letter-spacing: .04em;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

.footer-input:focus
{
    outline: none;
}

.footer-user-mail::placeholder
{
    font-size: 12px;
    font-weight: 400;
    line-height: 2;

    letter-spacing: .04em;

    color: #fff;
}

.footer-subscribe-btn
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);
    text-align: center;
    letter-spacing: .04em;

    color: #fff;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;

    gap: 16px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus
{
    color: #fff;
    background-color: #31d0aa;
}

.footer-icon-send
{
    margin-left: 16px;

    fill: #fff;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    .page-footer .container
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        gap: 72px;
    }

    .footer-container-logo
    {
        text-align: center;
    }

    .footer-section-heading
    {
        text-align: center;
    }

    .footer-subscribe-heading
    {
        text-align: center;
    }

    .footer-subscribe-form
    {
        align-items: center;
        flex-direction: column;
    }

    .footer-container
    {
        margin-right: 0;
    }
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    .footer-container
    {
        margin-right: 0;
    }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––> MODAL <–––––––––––––––––––––––––––––––––––––––––––––– */

.backdrop
{
    position: fixed;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    transition: opacity 250ms cubic-bezier(.4, 0, .2, 1),
    visibility 250ms cubic-bezier(.4, 0, .2, 1);
    pointer-events: none;
    /* display: flex;
  justify-content: center;
  align-items: center; */

    opacity: 0;
    background-color: rgba(46, 47, 66, .4);
}

.is-open
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

.modal
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
    transform: translate(-50%, -50%);

    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12),
    0 2px 1px 0 rgba(0, 0, 0, .2);
}

.modal-close-btn
{
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1),
    border 250ms cubic-bezier(.4, 0, .2, 1);

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    background-color: #e7e9fc;
}

.modal-close-btn:hover,
.modal-close-btn:focus
{
    border: none;
    background-color: #404bbf;
}

.icon-close
{
    transition: fill 250ms cubic-bezier(.4, 0, .2, 1);

    fill: #2e2f42;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close
{
    fill: #fff;
}

.backdrop:not(.is-open) .modal
{
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-title
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    margin-bottom: 16px;

    text-align: center;
    letter-spacing: .02em;

    color: #2e2f42;
}



.modal-input
{
    width: 100%;
    width: 360px;
    height: 40px;
    padding-left: 38px;

    transition: border-color 250ms cubic-bezier(.4, 0, .2, 1);

    border: 1px solid rgba(46, 47, 66, .4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
}

.modal-input:focus
{
    border-color: #4d5ae5;
    outline: none;
}

.modal-input:focus + .icon-modal
{
    fill: #4d5ae5;
}

.modal-send-btn
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    display: block;

    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);
    text-align: center;
    letter-spacing: .04em;

    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

.modal-send-btn:hover,
.modal-send-btn:focus
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: .04em;

    color: #fff;
    background-color: #404bbf;
}

.modal-label
{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

    display: block;

    margin-bottom: 4px;

    letter-spacing: .04em;

    color: #8e8f99;
}

.modal-field
{
    margin-bottom: 8px;
}
.modal-field-textarea
{
    margin-bottom: 16px;
}

.modal-field-checkbox
{
    margin-bottom: 24px;
}

.input-wrapper
{
    position: relative;

    height: 40px;
}

.icon-modal
{
    position: absolute;
    top: 50%;
    left: 16px;

    transition: fill 250ms cubic-bezier(.4, 0, .2, 1);
    transform: translateY(-50%);
    vertical-align: middle;

    fill: #2e2f42;
}

.modal-textarea
{
    font-size: 12px;
    line-height: 1.17;

    width: 100%;
    height: 120px;
    padding: 8px 16px;

    resize: none;
    transition: border-color 250ms cubic-bezier(.4, 0, .2, 1);
    letter-spacing: .04em;

    color: rgba(46, 47, 66, .4);
    border: 1px solid rgba(46, 47, 66, .4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
}

.modal-textarea:focus
{
    border-color: #4d5ae5;
    outline: none;
}

.modal-textarea::placeholder
{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16667;

    letter-spacing: .04em;

    color: rgba(46, 47, 66, .4);
}

.modal-checkbox-text
{
    font-size: 12px;
    line-height: 1.17;

    align-items: center;

    letter-spacing: .04em;

    color: #8e8f99;
}

.privacy-checkbox
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1),
    border 250ms cubic-bezier(.4, 0, .2, 1),
    fill 250ms cubic-bezier(.4, 0, .2, 1);

    border: 1px solid rgba(46, 47, 66, .4);
    border-radius: 2px;

    fill: transparent;
}

.modal-checkbox:checked + .modal-checkbox-text .privacy-checkbox
{
    border: none;
    background-color: #404bbf;

    fill: #f4f4fd;
}

.privacy-policy-link
{
    color: #4d5ae5;
}

/* Mobile (до 767px) */
@media (max-width: 767px)
{
    /* Стилі для мобільних пристроїв */
}

/* Tablet (від 768px до 1023px) */
@media (min-width: 768px) and (max-width: 1023px)
{
    /* Стилі для планшетів */
}
